<h1>All animals ready for adoption:</h1>

<% for pet in @pets do %>

<a href="/animals/<%= animal.id %>">
<img src="<%= animal.photo %>" height="150em" width="150em" alt="Animal's photo">
</a>
<p>Name: <%= animal.name %></p>
<p>Admission date: <%= animal.admission_date %></p>

<hr/>


<% end %>
