<h1>All animals ready for adoption:</h1>

<div class="thumbnail-gallery">
  <% for pet in @pets do %>
    <div class="thumbnail-gallery-item">
      <a href="/animals/<%= pet.id %>">
      <img src="<%= pet.photo %>" height="150em" width="150em" alt="Animal's photo" class = "thumbnail-gallery-photo"></a>
    <div class="thumbnail-gallery-caption">
      <p><%= pet.name %></p>
      <p><%= pet.admission_date %></p>
    </div>
    </div>
  <% end %>
</div>
