<a href="/animals/adoptable">Ready for adoption</a>
<a href="/animals/training_or_vet">In training/ vet care</a>
<a href="/animals/adopted">Adopted</a><br/>
<a href="/animals/new">Add a pet record</a>

<h1>Our Animals:</h1>

<% for animal in @animals do %>
<a href="/animals/<%= animal.id %>">
<img src="<%= animal.photo %>" height="150em" width="150em" alt="Animal's photo">
</a>
<p>Name: <%= animal.name %></p>
<p>Admission date: <%= animal.admission_date %></p>

<hr/>


<% end %>
