
  <ul class="animals-status-menu">
  <li><a href="/animals/adoptable">Ready for adoption</a>/</li>
  <li><a href="/animals/training_or_vet">In training or vet care</a>/</li>
  <li><a href="/animals/adopted">Adopted</a>/</li>
  <li><a href="/animals/new">Add</a></li>
  </ul>
<h1>Our Animals:</h1>

<div class="thumbnail-gallery">

    <% for animal in @animals do %>
    <div class="thumbnail-gallery-item">
      <a href="/animals/<%= animal.id %>">
        <img src="<%= animal.photo %>" alt="Animal's photo" class = "thumbnail-gallery-photo">
      </a>
      <div class="thumbnail-gallery-caption">
        <p> <%= animal.name %></p>
        <p><%= animal.admission_date %></p>
    </div>
    </div>
    <% end %>

</div>
