<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Scottish Animal Shelter Database</title>
     <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="grid">
      <div class="grid-row">
        <div class="banner-box">
          <div class="banner">
            Scottish Animal Shelter Database
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="navigation">
          <nav>
            <a href="#" id="search-btn" class= "btn">Search Database</a>
            <a href="/animals" id="animals-btn" class= "btn">Animals</a>
            <a href="/owners" id="owners-btn" class= "btn">Owners</a>
            <a href="/adoption" id="adoption-btn" class= "btn">New adoption</a>
          </nav>
        </div>

        <div class="contents">
          <%= yield %>
        </div>
      </div>

    <div class="grid-row">
      <footer> Copyright &copy; Gaby</footer>
    </div>
  </div>
  </body>
</html>
