<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Scottish Animal Shelter Database</title>
  </head>
  <body>
     <%= yield %>
    <footer> Copyright &copy; Gaby</footer>
  </body>
</html>
