<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Scottish Animal Shelter Database</title>
  </head>
  <body>
    <nav>
      <a href="#">Search Database</a>
      <a href="/animals">Animals</a>
      <a href="/owners">Owners</a>
    </nav>
     <%= yield %>
    <footer> Copyright &copy; Gaby</footer>
  </body>
</html>
