<h1>Animals currently in training or vet care:</h1>

<% for pet in @pets do %>

<a href="/animals/<%= pet.id %>">
<img src="<%= pet.photo %>" height="150em" width="150em" alt="Animal's photo">
</a>
<p>Name: <%= pet.name %></p>
<p>Admission date: <%= pet.admission_date %></p>

<hr/>


<% end %>
