body {
  margin: 0px;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #DBB846;
}

a:hover {
  color: #988F5E;
}

h1 {
  text-align: center;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
  font-family: serif;
  font-size: 4em;
  margin: 0.5em;
}

.thumbnail-gallery {
  display: inline-flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 1em;
}

.thumbnail-gallery-item {
  padding: 0.2em;
  border: 0.01em solid black;
  margin: auto;
  margin-bottom: 2em;
  width: 25%;
  background-color: white;
}

.thumbnail-gallery-item-individual {
  padding: 0.2em;
  border: 0.01em solid black;
  margin: auto;
  margin-top: 3em;
  width: 35%;
  height: 60%;
  background-color: white;
}

.thumbnail-gallery-photo-individual {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 2em;
  justify-content: center;
}

.thumbnail-gallery-photo {
  height: 15em;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.thumbnail-gallery-caption {
  text-align: center;
}

footer {
  text-align: center;
  margin: 1em;
  margin-top: 3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  align-self: center;
}

ul li {
  float: left;
  text-align: center;
}

li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.animals-status-menu{
  margin: auto;
}

.form-wrapper{
  border-radius: 5px;
  border: 1em solid black;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  margin:auto;
}

input[type=text], input[type=number], input[type=date], select {
  width: 100%;
  padding: 0.2em;
  margin: 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 0.7em;
  margin: 0.7em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

label {
  margin: 0.8em;
  font-size: 1em;
}

.show .thumbnail-gallery-item-individual {
  width: 400px;
}

hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.show {
  display: flex;
  width: 560px;
  margin: 0 auto;
}

.edit-submit-btns {
  margin-bottom: 2em;
  margin-top: 3em;
  margin-left: 3em;
  justify-content: flex-end;
}

#edit-btn {
  max-width: 300px;
  font-size: 1em;
  padding-left: 1.5em;
  padding-right: 1em;
  color: black;
}

#delete-btn {
  background-color: #C62F37;
  text-align: left;
  max-width: 10em;
  padding-left: 1em;
  padding-right: 2em;
  font-size: 1em;
  color: black;
}

ol hr {
margin-right: 70em;
}
